{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
	<div class="container text-center posts" >
		<h1 class="mt-3 mb-3">Movie Review ({{ movies|length }})</h1>
		{% for movie in movies %}
			<div class="post">
				<h1 class="mt-3 mb-3">{{ movie.title }}</h1>
				<h3 class="mb-3 ">{{ movie.year }}</h3>
				<div class="post-text mb-3">{{ movie.description }}</div>
				<div class="post-img">
					<img class="mb-3" width="400px" src='{{ movie.thumbnail }}'
					     alt="{{ movie.thumbnail }}">
				</div>
				<a class="mt-3 btn btn-primary"
				   href="{{ path('show-movie', {id: movie.id}) }}">Read More</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
