{% extends 'base.html.twig' %}

{% block body %}
	<div  class="container overflow-hidden text-center mt-3">
		{% if movie %}
			<h1>{{ movie.title }}</h1>
			<h4>{{ movie.year }}</h4>
			<img height="500px" class="rounded mx-auto d-block"
			     src="{{ movie.thumbnail }}" alt="{{ movie.thumbnail }}">
			<h5  class="mt-3 overflow-auto">{{ movie.description }}</h5>
		{% else %}
			<h1>{{ "Invalid Movie Id" }}</h1>
		{% endif %}
	</div>
{% endblock %}
{% block navigationPath %}
	<a class="btn btn-primary position-absolute mt-3"
	   href="{{ path('list-movie') }}">Back to main page</a>
{% endblock %}
